* {
    background-color: #131842;
    padding: 0px;
    margin: 0px;
}

.heading {
    color: #FBF6E2;
    font-size: 80px;
    text-align: center;
}

.sub-heading {
    color: #FBF6E2;
    font-size: 60px;
    text-align: right;
}

.para {
    color: #FBF6E2;
    font-size: 20px;
    text-align: right;
}

h4 {
    text-align: center;
    color: #FBF6E2;
}

.table {
    width: 50vw;
    border: 1px solid red;
    border-collapse: collapse;
    padding: 12px;
    text-align: center;
    margin-left: 280px;
    
}
.table-data{
    color: #FBF6E2;
    text-align: center;
}
.table-head {
    text-align: center;
    color: #FBF6E2;
}

.table-head td {
    background-color: red;
}

.hotelimage {
    margin-top: 15px;
    height: 100px;
    width: 100px;
}

.hotel-para {
    text-align: center;
    color: #FBF6E2;
}

.list-items {
    color: #FBF6E2;
}

.item-price {
    color: #FBF6E2;
}




.businessimage {
    margin-top: 15px;
    height: 120px;
    width: 120px;
}

button {
    background-color: #6c3866;
    border: solid #853c95 ;
    border-radius: 12px;
    margin-left: 500px;

    
}
button:hover {
    color: aliceblue;
    background-color: blue;
}

footer{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #4F2D18;
}

#footpara{
    color: white ;
    background-color: transparent;
    padding-right: 50px;
}

